@model Mundial2022.Entidades.ApuestasUsuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ApuestasUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NroApuetas" class="control-label"></label>
                <input asp-for="NroApuetas" class="form-control" />
                <span asp-validation-for="NroApuetas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroPartido" class="control-label"></label>
                <select asp-for="NroPartido" class ="form-control" asp-items="ViewBag.NroPartido"></select>
            </div>
            <div class="form-group">
                <label asp-for="UCodigo" class="control-label"></label>
                <select asp-for="UCodigo" class ="form-control" asp-items="ViewBag.UCodigo"></select>
            </div>
            <div class="form-group">
                <label asp-for="ATipoResultado" class="control-label"></label>
                <input asp-for="ATipoResultado" class="form-control" />
                <span asp-validation-for="ATipoResultado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AResultadoE1" class="control-label"></label>
                <input asp-for="AResultadoE1" class="form-control" />
                <span asp-validation-for="AResultadoE1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APuntosCanjeados" class="control-label"></label>
                <input asp-for="APuntosCanjeados" class="form-control" />
                <span asp-validation-for="APuntosCanjeados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AResultadoE2" class="control-label"></label>
                <input asp-for="AResultadoE2" class="form-control" />
                <span asp-validation-for="AResultadoE2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

