@model Mundial2022.Models.Jugador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jugador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CJugador" />
            <div class="form-group">
                <label asp-for="NJugador" class="control-label"></label>
                <input asp-for="NJugador" class="form-control" />
                <span asp-validation-for="NJugador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNacimiento" class="control-label"></label>
                <input asp-for="DNacimiento" class="form-control" />
                <span asp-validation-for="DNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
